[submodule "ws/src/scovox"]
	path = ws/src/scovox
	url = https://github.com/kalhansb/scovox.git
	branch = new_experiments
[submodule "ws/src/explo_planner"]
	path = ws/src/explo_planner
	url = https://github.com/kalhansb/explo_planner.git
	branch = new_experiments
[submodule "ws/src/hmr_localisation"]
	path = ws/src/hmr_localisation
	url = https://github.com/kalhansb/hmr_localisation.git
	branch = main
[submodule "ws/src/hmr_sim"]
	path = ws/src/hmr_sim
	url = https://github.com/kalhansb/hmr_sim.git
	branch = main
[submodule "ws/src/simple_nav_3d"]
	path = ws/src/simple_nav_3d
	url = https://github.com/kalhansb/simple_nav_3d.git
	branch = new_experiments
